{
    "arrowParens": "always",
    "bracketSpacing": true,
    "printWidth": 140,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5"
  }
  